
      <div *ngIf="type===true"></div>
      <p-carousel [value]="videos"  
    [numVisible]="2" 
    [numScroll]="2" >
      <ng-template pTemplate="item" let-video>

        <div class="flex flex-column">

          
          <span class="col-12 text-center text-blue-900"> {{video.title}}</span>

          <div class="ml-10">
            <iframe
            [src]="getEmbedUrl(video.url) | safe"
            width="650"
            height="300"
            class="carousel-video"
            frameborder="0"
            allowfullscreen>
          </iframe>
          </div>
         


        </div>
        

      </ng-template>
    </p-carousel>


      <!-- <div *ngIf="type==false">
      <p-carousel [value]="motivaionalVideos"  
    [numVisible]="3" 
    [numScroll]="3" >
      <ng-template pTemplate="item" let-video>

        <div class="flex ">
          <span > video.title</span>
          <video #videoPlayer width="600" controls>
              <source [src]="video.url" type="video/mp4">
              Your browser does not support the video tag.
            </video>
        </div>
       
       
      </ng-template>
    </p-carousel>
  </div> -->