.photos-grid {
    display: flex;
    flex-wrap: wrap;
  }
  .photos-grid img {
    width: 100px;
    height: 100px;
    margin: 5px;
  }

  :host ::ng-deep .p-carousel .p-carousel-content .p-carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  :host ::ng-deep .p-carousel .p-carousel-content .p-carousel-item img {
    max-width: 100%;
    max-height: 100%;
  }

  .carousel-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Maintains aspect ratio and fills the container */
    /* border-color: blue; */
    border: 5px solid rgb(13, 3, 35); /* Border color and width */
  border-radius: 10px; /* Optional: rounded corners */
  padding: 5px; /* Optional: space between image and border */
  }