/* app.component.css */
.app-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 20px;
    padding: 20px;
    /* background: rgb(111,104,230);
background: radial-gradient(circle, rgba(111,104,230,1) 0%, rgba(67,177,203,1) 55%, rgba(105,224,227,1) 100%); */

background:#e3e5e5;
    /* background: #EDECED;
background: linear-gradient(135deg, #EDECED, #8D7ED1); */
    /* background: #EDECED;
background: linear-gradient(135deg, #EDECED, #8D7ED1); */
  }
  
