<!-- <p>content-display works!</p> -->
<div class="p-grid p-justify-center">
  <h1 class="font-large text-center  h1-class ">Real-Time Mood Detection</h1>
</div>

<div class="col-12 flex justify-content-around">
  <app-webcam (moodEvent)="updateContent($event)"></app-webcam>
  <app-reminder></app-reminder>
</div>

<div class="voice-command top-50 left-0 flex justify-content-end">
  <app-chatbot> </app-chatbot>
</div>

<!-- <div class="container">
  <app-reminder></app-reminder>
</div> -->

<!-- <app-reminder></app-reminder> -->
<div class="content-display">
  <!-- <h2>Your Mood: {{ mood }}</h2> -->
  <p class="font-semibold h1-class text-3xl ">
    {{ content }}
  </p>
<!-- <app-reminder></app-reminder> -->

  <!-- <button (click)="toggleMusicPlayer()">Toggle Music Player</button> -->
</div>

<div *ngIf="showMusicPlayer">
  <app-music></app-music>
</div>
<div *ngIf="showPhotos">
  <app-photos [photos]="photos"></app-photos>
</div>
<div *ngIf="showMeditationVideos">
  <app-video [type]="true"></app-video>
</div>
<div *ngIf="showMotivationalVideos">
  <app-video [type]="false"> </app-video>
</div>
